  h3{ 
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  margin:20px;
  }
  .a{
  padding:0px 17px 0px 680px;
  margin:0px 0px 15px 0px;
  font-size: 14px;
  font-weight: 600;
  
  }
  .b{
  padding:0px 17px 0px 17px;
  margin:0px 0px 15px 0px;
  font-size: 14px;
  font-weight: 600;
  
  }
  img{
  width:170px;
  height:180px;
  }