body{
	color: royalblue;
	color: rgb(65, 105, 225);
	color: #4169E1CC;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
}
body{
	background-color: #4169E1;
}

body{
	background-color:rgb(241,86,66);
  background-color:rgb(183,160,145);
}

p {
  font-style: italic;
}